@(groupset : Set[Group],editable : Boolean)(implicit request : play.api.mvc.Request[Any])
@import models.Group

<p>
<table id="grouplist" class="table table-striped">
    <thead>
    <tr>
        @if(editable){ <th>&nbsp;</th> }
        <th> № </th>
        <th> Name </th>
        <th> Size </th>
        @if(editable){ <th>&nbsp;</th> }  <!--"Edit" Placeholder-->
        <th>&nbsp;</th>

    </tr>
    </thead>
    <tbody>
        @for(group <- groupset){
            @GroupListItemComponent(group,editable)
        }
    </tbody>
</table>
</p>
