@(groupForm : play.api.data.Form[Group])
@import helper._
@import models._
@import play.api.data.Form

@if(groupForm.hasGlobalErrors) {
    <ul>
        @groupForm.globalErrors.foreach { error =>
        <li>error.message</li>
        }
    </ul>
}

@form(action = controllers.routes.GroupController.processEditGroup,'class->"Form1") {

    @inputText(
        groupForm("name"),
        'size -> 16  ,
        '_label -> "Login",
        '_showConstraints -> false
    )

    @inputText(
        groupForm("id"),
        'type -> "hidden",
        '_showConstraints -> false
    )

    <input type="submit" value="Create" id="btn-submit">

}
