@(grouplist : Set[Group],editable : Boolean = true)(implicit request : play.api.mvc.Request[Any])
@import models._
@import helper._

@javascriptRouter("jsroutes")(
routes.javascript.GroupController.processRemoveGroups
)


@base("Groups list"){

    <div class="row"><!--up row-->
        <div class="col-md-8">
            <h2>Group list</h2>
        </div>
        <div class="col-md-4">
            <a href="@controllers.routes.GroupController.requestNewGroup">
                <button type="button" class="btn btn-default myRight">
                    <span class="glyphicon glyphicon-file"> Create </span> </button>
            </a>
        </div>
    </div> <!--up row-->


        @GroupListComponent(grouplist,editable)
           @if(editable){ <div class="row">
        <div class="container">
            <form action="" method="post">
                <input id="coolbutton" type="button" class="btn btn-danger " value="Remove">
            </form>
        </div>
    </div>}


    <script>

        $("#coolbutton").bind('click', function() {
            indices = "";
            $('input:checked').each(function(i, obj) {
             indices+=$(obj).val()+","
            });

            jsroutes.controllers.GroupController.processRemoveGroups(indices).ajax({
                method: "POST",
                success: function(data) {
                    document.location = "/GroupList"
                }
            })


        });


    </script>
}


