@(group : Group,editable : Boolean)
@import models.Group

<tr>
    @if(editable){ <th class="userselection"><input data-groupid = "@group.getGroup_id" type="checkbox" name="terms" /></th> }
    <th> @group.getGroup_id </th>
    <th> @group.getName </th>
    <th> @group.getStudents.size </th>
    @if(editable){
        <th> <a href="@routes.controllers.GroupController.requestEditGroup(group.getGroup_id)">Edit</a></th>
    }
    <th> <a href="@routes.controllers.TimetableController.showTimetableForGroup(group.getGroup_id)">Timetable</a></th>
</tr>