@(groupForm : play.api.data.Form[Group])
@import helper._
@import models._
@import controllers.formsdata.UserData._

@if(groupForm.hasGlobalErrors) {
    <ul>
        @groupForm.globalErrors.foreach { error =>
        <li>error.message</li>
        }
    </ul>
}

@form(action = controllers.routes.GroupController.processNewGroup,'id->"creategroupform") {
   <div class="row">
     <div class="col-xs-4">
    @inputText(
        groupForm("name"),
        '_label -> "Group name:",
        'size -> 16  ,
        'placeholder -> "Group name",
        'class -> "form-control",
        '_showConstraints -> false
    )
     </div>
   </div>

@inputText(
        groupForm("indices"),
        '_label -> "",
        'type -> "hidden",
        '_showConstraints -> false
    )



    <script>
    $('#creategroupform').submit(function(){
        indices = ""
        $('input[name=user_id]').each(function(i,obj){
            indices+=$(obj).val()+","
        })

        $('input[name=indices]').val(indices)
    })

    </script>
}
