@(userForm : play.api.data.Form[models.User])(implicit request: play.api.mvc.Request[Any])
@import helper._
@import controllers.formsdata.UserData._

@base("Edit User"){
 <div class="col-md-8">
    @if(userForm.hasGlobalErrors) {
        <ul>
            @userForm.globalErrors.foreach { error =>
            <li>error.message</li>
            }
        </ul>
        }

        @form(action = controllers.routes.UserController.processEditUser,'role->"form",'class->"form") {

            @inputText(
                userForm("login"),
                'size -> 16  ,
                'class -> "form-control",
                '_label -> "Login",
                'readonly -> "readonly",
                '_showConstraints -> false
            )
            @inputText(
                userForm("name"),
                'class -> "form-control",
                '_label -> "Name",
                '_showConstraints -> false
            )
            @inputText(
                userForm("surname")
                ,'class -> "form-control",
                '_label -> "Surname",
                '_showConstraints -> false
            )
            @inputPassword(
                userForm("password.main")
                ,'class -> "form-control",'_label -> "New Password",
                '_showConstraints -> false
            )
            @inputPassword(
                userForm("password.confirm")
                ,'class -> "form-control",'_label -> "Confirm Password",
                '_showConstraints -> false
            )

            @inputRadioGroup(
                userForm("role"),
                options = RoleOptions,
                '_label -> "Role",
                '_showConstraints -> false
            )

            @inputText(
                userForm("id"),'class -> "form-control",
                '_label -> " ",
                'type -> "hidden",
                '_showConstraints -> false
            )

        <input type="submit" value="Create" id="btn-submit">

    }
 </div>
}