@(userForm : play.api.data.Form[models.User]) (implicit request: play.api.mvc.Request[Any])
@import helper._
@import controllers.formsdata.UserData._

@base("Edit User"){

    @if(userForm.hasGlobalErrors) {
        <ul>
            @userForm.globalErrors.foreach { error =>
            <li>error.message</li>
            }
        </ul>
        }

        @form(action = controllers.routes.UserController.processEditUser,'class->"Form1") {

            @inputText(
                userForm("email"),
                'size -> 16  ,
                '_label -> "Email",
                'readonly -> "readonly"
            )
            @inputText(
                userForm("name")
                ,'_label -> "Name"
            )
            @inputText(
                userForm("surname")
                ,'_label -> "Surname"
            )
            @inputPassword(
                userForm("password.main")
                ,'_label -> "New Password"
            )
            @inputPassword(
                userForm("password.confirm")
                ,'_label -> "Confirm Password"
            )

            @inputRadioGroup(
                userForm("role"),
                options = RoleOptions,
                '_label -> "Role"
            )


        <input type="submit" value="Create" id="btn-submit">

    }

}