@(userForm : play.api.data.Form[User])(implicit request: play.api.mvc.Request[Any])
@import helper._
@import models._
@import controllers.formsdata.UserData._
@base("New User"){

    @if(userForm.hasGlobalErrors) {
    <ul>
        @userForm.globalErrors.foreach { error =>
        <li>error.message</li>
        }
    </ul>
    }

    @session.get("TEST")

    @form(action = controllers.routes.UserController.processNewUser,'class->"Form1") {

                @inputText(
                    userForm("email"),
                    'size -> 16  ,
                    '_label -> "Email"
                )
                @inputText(
                    userForm("name")
                    ,'_label -> "Name"
                )
                @inputText(
                    userForm("surname")
                    ,'_label -> "Surname"
                )
                @inputPassword(
                    userForm("password.main")
                    ,'_label -> "Password"
                )
                @inputPassword(
                    userForm("password.confirm")
                    ,'_label -> "Confirm password"
                )

                @inputRadioGroup(
                    userForm("role"),
                    options = RoleOptions,
                    '_label -> "Role"
                )


    <input type="submit" value="Create" id="btn-submit">

    }

}